# Fichiers LaTeX générés automatiquement
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Fichiers R inutiles
*.RData
*.Rhistory

# Fichiers images et PDF générés
*.png
*.pdf

# Configuration locale VS Code
.vscode/

# Dossier temporaire
__pycache__/
*.tmp
